---
import { t } from "@config";
import type { PostData } from "@interfaces/data";
import { Icon } from "astro-icon/components";
const { categories = [], tags = [] } = Astro.props as PostData;
---

<div class="flex flex-wrap items-center gap-2">
  {
    categories.map((category) => (
      <a href={`/blog/category/${category}`} class="btn-category group">
        <span class="text-purple-500 font-bold group-hover:text-purple-600">$</span>
        <span>cd {category}</span>
      </a>
    ))
  }
  {
    tags.map((tag) => (
      <a href={`/blog/tag/${tag}`} class="btn-tag group">
        <span class="text-pink-500 font-bold group-hover:text-pink-600">#</span>
        <span>{tag}</span>
      </a>
    ))
  }
  {
    categories.length === 0 && (
      <span class="btn-category opacity-60 cursor-not-allowed">
        <span class="text-gray-400">$</span>
        <span>{t("label.noCategory")}</span>
      </span>
    )
  }
  {
    tags.length === 0 && (
      <span class="btn-tag opacity-60 cursor-not-allowed">
        <span class="text-gray-400">#</span>
        <span>{t("label.noTag")}</span>
      </span>
    )
  }
</div>
